*
{
	margin: 0em;
	box-sizing: border-box;
}

html
{
	background-color: #111;
}

#blue
{
	top: 2em;
	left: 3.25em;
	background-color: blue;
}

#red > img
{
	width: auto;
	height: 4em;
	position: absolute;
}

#red  > #sword
{
	left: 0.5em;
	top: 0.5em;
	width: 0.5em;
	height: 0.25em;
	position: absolute;

	background-size: contain;
	background-repeat: no-repeat;
	background-image: url(assets/sword.jpg);
}

#camera
{
	top: 0px;
	position: absolute;
	transition: top, left;
	transition-duration: 0.5s;
}

/*************/
/*Game Frame*/
/***********/

#game-frame
{
    top: 0rem;
    left: 0rem;
    right: 0rem;
    bottom: 0rem;
    margin: auto;
    position: fixed;
    overflow: hidden;

		background-color: papayawhip;
}

@mixin game-frame-aspect-ratio($awidth, $aheight, $twidth, $theight)
{
    @media(min-aspect-ratio: #{$awidth + "/" + $aheight})
    {
        #game-frame._#{$awidth + "x" + $aheight}
        {
            height: 100vh;
            width: ($awidth/$aheight)*100vh;
            font-size: (($awidth/$aheight)*100vh)/$twidth;
        }
    }

    @media(max-aspect-ratio: #{$awidth + "/" + $aheight})
    {
        #game-frame._#{$awidth + "x" + $aheight}
        {
            width: 100vw;
            height: ($aheight/$awidth)*100vw;
            font-size: (($aheight/$awidth)*100vw)/$theight;
        }
    }
}

@include game-frame-aspect-ratio(11, 9, 11, 9);
